*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: #e2f5e2;
    color: #333;
    line-height: 1.5;
}

header{
    background-color: #4CAF50;
    color: #fff;
    padding: 16px;
    text-align: center;
}

nav a{
    color: #fff;
    margin: 10px;
    text-decoration: none;

}

.fooldalClass{
    background-image: url(hattercsik.jpg);  /*Valami kép kell ide*/
    background-size: cover;
    background-position: center;
    color: #fff;
    text-align: center;
    padding: 64px 32px;
}

div{
    text-align: center;
    /*padding: 64px 32px;*/
}

#csapatunk ul{
    list-style-type: none;
    margin-top: 16px;
}

form {
    max-width: 600px;
    margin: 0 auto;
    text-align: left;
}

form label, form input, form textarea, form button{
    width: 100%;
    margin-bottom: 10px;
}

button {
    padding: 10px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    cursor: pointer;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1em;
}

.leiras {
    font-size: 25px;
    color: #0b6011;
    text-align: left;
    padding-left: 0px;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 30px;
}

.fejlec {
    color: #4CAF50;
    font-size: 40px;
    margin-bottom: 20px;
}

.lista {
    list-style-type: none;
    padding-left: 0;
    font-size: 21px;
    margin-bottom: 40px;
}

.lista li {
    margin-bottom: 20px;
    padding: 10px;
    background-color: #c9efc9;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.lista li:hover {
    background-color: #2d9830;
    color: #fff;
    transform: scale(1.02);
}

.lista li strong {
    color: #4CAF50;
    font-weight: bold;
}
.lista li:hover strong {
    color: #edffe4;
}

.fejlec, .lista {
    text-align: left;
    padding-left: 10%;
    padding-right: 10%;
}

#ultetettfa {
    width: 300px;
    float: right;
    margin-right: 50px;
}

#bemutatkozas {
    text-align: center;
    padding: 40px 20px;
    background-color: #dcf3dc;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

#bemutatkozas h2{
    font-size: 30px;
    color: #4CAF50;
    margin-bottom: 20px;
}

#bemutatkozas p {
    font-size: 20px;
    line-height: 1.6;
    margin-bottom: 20px;
    color: #333;
}

#bemutatkozas strong {
    color: #4CAF50;
    font-weight: bold;
}

#feladatunk {
    text-align: left;
    padding: 40px 20px;
    background-color: #e7f7e7;
    border-right: 5px solid #4CAF50;
    border-left: 5px solid #4CAF50;
    margin-bottom: 30px;
}

#feladatunk h2{
    font-size: 25px;
    color: #4CAF50;
    margin-bottom: 20px;
}

#feladatunk p {
    font-size: 23px;
    line-height: 1.6;
    margin-bottom: 20px;
    color: #333;
}

#feladatunk ul {
    margin-left: 20px;
}

#feladatunk ul li{
    font-size: 20px;
    margin-bottom: 10px;
}